# MongoDB
DATABASE_URL="mongodb+srv://your_mongodb_username:your_mongodb_password@your_mongodb_cluster/your_mongodb_database?retryWrites=true&w=majority"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_nextauth_secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000" # Dev server

# Google OAuth
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# Github OAuth Development
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"

# Discord OAuth
DISCORD_CLIENT_ID="your_discord_client_id"
DISCORD_CLIENT_SECRET="your_discord_client_secret"

# Twitter OAuth
TWITTER_CLIENT_ID="your_twitter_client_id"
TWITTER_CLIENT_SECRET="your_twitter_client_secret"

# Brevo 
BREVO_API_KEY="your_brevo_api_key" 

# Email Sender Configuration
EMAIL_FROM_NAME="your_email_from_name" # Brevo name
EMAIL_FROM_ADDRESS="your_email_from_address" # Brevo address